<html>
<head>
<style>
        body, html {
            margin: 0;
            padding: 0;
            padding-left:10px;
        }

        p {
            font-size: 14px;
            white-space: pre-line;
        }
    </style>
</head>
<body>
    <div>
        {% block content %}
            {{ content|raw }}
        {% endblock %}
    </div>
</body>
</html>